<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPSNet</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link rel="icon" type="image/png" href="~/Content/img/icon-payroll.png" />
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.theme.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/styles/main.css" />
    <link rel="stylesheet" href="~/Content/animate/animate.css" />
</head>
<body style="padding-right: 0 !important;" id="body-init">
    <nav class="navbar nav-backcolor navbar-expand-lg">
        <div class="navbar-brand text-white">
            <a href="" class="text-white txt-none">
                <h2 class="title-navbar">
                    <i class="fas fa-money-check-alt mr-ico-05 ml-ico-05"></i> IPSNet
                </h2>
            </a>
        </div>
        <form class="form-inline ml-5">
            <div class="text-white font-menu-prin">
                <i class="fas fa-user mr-ico-05"></i> @Session["sUsuario"]
            </div>
            <div class="mx-4 text-white row">
                <i class="fas fa-building mr-ico-05"></i><div class="ml-2 text-white font-menu-prin btnNameEmpresaSelected" id="btnNameEmpresaSelected"></div>
            </div>
            <div class="btn btn-sm mx-2 btn-outline-light border border-white " id="btn-cambiar-empresas" title="Cambiar empresa">
                <i class="fas fa-exchange-alt"></i>
            </div>
            <div class="mx-4 text-white row">
                <i class="fas fa-calendar-check text-white mr-ico-05"></i>
                <div class="text-white font-menu-prin">&nbsp;Periodo&nbsp;:&nbsp;&nbsp;</div>
                <div class="text-white font-menu-prin" id="lblPeriodoId">@Session["Periodo_id"]</div>
            </div>
            
            
            <span class="text-white ml-3 font-menu-prin" id="dateact"></span>
            <div class="form-inline ml-5">
            <a href="../Login/Logout" class="btn btn-outline-light btn-sm">
                Salir <i class="fas fa-sign-out-alt ml-ico-05"></i>
            </a>
        </div>
        </form>
    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />
        <div class="container">
            <footer class="text-center p-4">
                <p class="title-font font-size-footer">
                    <i class="fas fa-copyright mr-05-ico ml-05-ico"></i> @DateTime.Now.Year - GrupoSeri Todos los derechos reservados.
                    <i class="fas fa-flag mr-05-ico ml-05-ico"></i> Icons by <a href="https://fontawesome.com/"> FontAwesome</a>.
                </p>
            </footer>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/jquery-ui.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/fontawesome/fontawesome.js"></script>
    <script type="text/javascript" src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/Scripts/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/datepicker.es.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/Scripts/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main/main.js"></script>
    <link rel="stylesheet" href="~/Scripts/jqxGrid/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="~/Scripts/jqxGrid/jqwidgets/styles/jqx.arctic.css" type="text/css" />
    <script src="~/Scripts/jqxGrid/jqwidgets/jqx-all.js"></script>
    <script src="~/Scripts/jqxGrid/jqwidgets/jqxcore.js"></script>
    <script src="~/Scripts/jqxGrid/jqwidgets/jqxdata.js"></script>
    <script src="~/Scripts/jqxGrid/jqwidgets/jqxbuttons.js"></script>
    <script src="~/Scripts/jqxGrid/jqwidgets/jqxscrollbar.js"></script>
    <script src="~/Scripts/jqxGrid/jqwidgets/jqxmenu.js"></script>
    <script src="~/Scripts/jqxGrid/jqwidgets/jqxgrid.selection.js"></script>
    <script src="~/Scripts/jqxGrid/jqwidgets/jqxgrid.filter.js"></script>
    <script src="~/Scripts/jqxGrid/jqwidgets/jqxlistbox.js"></script>
    <script src="~/Scripts/jqxGrid/jqwidgets/jqxdropdownlist.js"></script>
    <script src="~/Scripts/jqxGrid/jqwidgets/jqxcheckbox.js"></script>
    <script src="~/Scripts/jqxGrid/jqwidgets/jqxwindow.js"></script>

</body>
</html>
