<div class="container bg-white pb-3 rounded">
    <div class="h4 px-5 py-3 font-button " style="font-size:14px;">Datos generales de la nueva empresa</div>
    <div class="dropdown-divider mb-3"></div>
    <form id="form_inEmpresa" class="needs-validation font-labels" novalidate>

        <div class="form-row">

            @*<div class="form-group col-md-2">
            <label for="inId_empresa" class=" col-form-label font-labels">ID EMPRESA</label>
            <input class="form-control font-labels" type="text" name="inId_empresa" id="inId_empresa" disabled>
            <div class="valid-feedback">

            </div>
        </div>*@
            <div class="form-group col-md-6">
                <label for="inNombre_empresa" class=" col-form-label font-labels">Nombre Empresa</label>
                <input class="form-control font-labels" type="text" name="inNombre_empresa" id="inNombre_empresa" placeholder="Escribe la razón social de la empresa" required>
                <div class="invalid-feedback">
                    Ingrese la razon social de la empresa
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inNomCorto_empresa" class="col-form-label font-labels">Nombre Corto</label>
                <input type="text" class="form-control font-labels" name="inNomCorto_empresa" id="inNomCorto_empresa" placeholder="Escribe el nombre corto de la empresa" required>
                <div class="valid-feedback">

                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inRfc_empresa">RFC de la empresa</label>
                <input type="text" class="form-control font-labels" name="inRfc_empresa" id="inRfc_empresa" placeholder="Escribe en RFC de la empresa" maxlength="12" required>
                <div class="valid-feedback">

                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inGiro_empresa">Giro de la empresa</label>
                <input type="text" class="form-control font-labels" name="inGiro_empresa" id="inGiro_empresa" placeholder="Escribe en giro de la empresa" required>
                <div class="valid-feedback">

                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inGiro_empresa">Regimen Fiscal</label>
                <select type="text" class="form-control font-labels" name="inRFiscal_empresa" id="inRFiscal_empresa" required>
                </select>
                <div class="valid-feedback">

                </div>
            </div>
            @*<div class="form-group col-md-6">
            <label for="validationServerUsername">Registros Patronales</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text btn btn-secondary font-labels" id="btnShowRegistroPatronal"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control font-labels" id="validationServerUsername" placeholder="Agrega uno o mas centro de costos" aria-describedby="inputGroupPrepend3" required disabled>
                <div class="invalid-feedback">

                </div>
            </div>
        </div>*@
            <div class="h5 px-5 py-3 text-dark font-labels col-md-12"><span class="fas fa-circle"></span> Direccion de la empresa</div>
            <div class="dropdown-divider mb-3"></div>
            <div class="form-group col-md-2">
                <label for="inCodigo_postal">Codigo Postal</label>
                <input type="text" maxlength="5" size="5" class="form-control input-number font-labels" min="0" name="inCodigo_postal" id="inCodigo_postal" required>
                <div class="invalid-feedback">

                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="">Validar CP</label>
                <button class="form-control btn btn-secondary font-button font-labels" type="button" id="btnValidaCpEstado">
                    &nbsp;Valida CP
                </button>
            </div>
            <div class="form-group col-md-5">
                <label for="inEstado_empresa">Estado</label>
                <select class="form-control custom-select font-labels" name="inEstado_empresa" id="inEstado_empresa" required>
                </select>
                <div class="invalid-feedback">

                </div>
            </div>

            <div class="form-group col-md-3">
                <label for="inDelegacion_empresa">Municipio</label>
                <select class="form-control custom-select font-labels" name="inMunicipio_empresa" id="inMunicipio_empresa">
                </select>
                <div class="valid-feedback">

                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inCiudad_empresa">Cuidad</label>
                <select class="form-control custom-select font-labels" name="inCiudad_empresa" id="inCiudad_empresa" required>
                </select>
                <div class="invalid-feedback">

                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inColonia_empresa">Colonia</label>
                <select class="form-control  custom-select font-labels" name="inColonia_empresa" id="inColonia_empresa" required>
                    <option value="">Selecciona</option>
                </select>
                <div class="valid-feedback">

                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inCalle_Empresa">Delegacion</label>
                <input class="form-control font-labels" type="text" name="inDelegacion_Empresa" id="inDelegacion_Empresa" value="" placeholder="Ingrese la delegación" autocomplete="off" required />
                <div class="invalid-feedback">

                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inCalle_Empresa">Calle</label>
                <input class="form-control font-labels" type="text" name="inCalle_Empresa" id="inCalle_Empresa" placeholder="Ingrese la calle" autocomplete="off" required />
                <div class="invalid-feedback">

                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="h5 px-5 pt-3 text-dark font-labels"><span class="fas fa-circle"></span> Asignar Registro Patronal</div>

            </div>

            <div class="form-gruop col-md-6">
                <div class="form-group">
                    <label for="inAfiliacionIMSS">Afiliacion IMSS</label>
                    <input type="text" class="form-control" id="inAfiliacionIMSS" maxlength="12" placeholder="Ingresa en Numero de afiliación al IMSS" required>
                    <div class="invalid-feedback">

                    </div>
                </div>
            </div>
            <div class="form-gruop col-md-6">
                <div class="form-group">
                    <label for="inNombreAfiliacionIMSS">Nombre Afiliacion</label>
                    <input type="text" class="form-control" id="inNombreAfiliacionIMSS" placeholder="Ingresa en Nombre de la afiliación al IMSS" required>
                    <div class="invalid-feedback">

                    </div>
                </div>
            </div>
            <div class="form-gruop col-md-6">
                <div class="form-group">
                    <label for="inRiesgoTrabajo">Riesgo de trabajo</label>
                    <input type="text" class="form-control" id="inRiesgoTrabajo" placeholder="Ingresa el riesgo de trabajo" required>
                    <div class="invalid-feedback">

                    </div>
                </div>
            </div>
            <div class="form-gruop col-md-6">
                <div class="form-group">
                    <label for="inClase">Clase </label>
                    <select class="form-control custom-select font-labels" id="inClase" required>
                        <option value="">Selecciona</option>
                    </select>
                    <div class="invalid-feedback">

                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="invisible"> INF ONLY</label>
                <input class="btn btn-primary form-control font-button" type="submit" name="btn_saveEmpresa" id="btn_saveEmpresa" value="Guardar Empresa" />
            </div>
            @*<div class="form-group col-md-6">
            <div class="h5 px-5 py-3 text-dark font-labels"><span class="fas fa-circle"></span> Numero de nomina automaticos</div>
            <div class="dropdown-divider mb-3"></div>
            <div class="form-group">
                <label for="inUltimo_nomina" class="">Ultimo</label>
                <input class="form-control mb-2 input-number font-labels" type="text" min="0" name="inUltimo_nomina" id="inUltimo_nomina" required>
                <div class="invalid-feedback">

                </div>
            </div>
            <div class="form-group">
                <label for="inInicio_nomina" class="">Inicial</label>
                <input class="form-control mb-2 input-number font-labels" type="text" min="0" name="inInicio_nomina" id="inInicio_nomina" required>
                <div class="invalid-feedback">

                </div>
            </div>
            <div class="form-group">
                <label for="inFinal_nomina" class="">Final</label>
                <input class="form-control mb-2 input-number font-labels" type="text" min="0" name="inFinal_nomina" id="inFinal_nomina" required>
                <div class="invalid-feedback">

                </div>
            </div>
        </div>*@
            <div class="form-group col-md-12 d-flex justify-content-end">
                @*<div class="h5 px-5 py-3 text-dark font-labels"><span class="fas fa-circle"></span> Asignación primaria de Sueldo</div>
            <div class="dropdown-divider mb-3"></div>
            <div class="form-group">
                <label for="inPeriodo_pago" class="">Periodo de pago: </label>
                <select class="form-control custom-select font-labels" name="inPeriodo_pago" id="inPeriodo_pago" required>
                    <option value="Semanal" class="">Semanal</option>
                    <option value="Catorcenal">Catorcenal</option>
                    <option value="Quincenal" selected="selected">Quincenal</option>
                    <option value="Mensual">Mensual</option>
                </select>
                <div class="invalid-feedback">

                </div>
            </div>
            <div class="form-group">
                <label for="inPago" class="">Se paga por: </label>
                <select class="form-control custom-select font-labels" name="inPago" id="inPago" required>
                    <option value="Horas" class="">Horas</option>
                    <option value="Dias"> Días</option>
                    <option value="Periodos completos" selected>Periodos completos</option>
                </select>
                <div class="invalid-feedback">

                </div>
            </div>*@

            </div>
        </div>
        <div class="d-flex justify-content-end">

        </div>
    </form>
</div>

<script>



    // patron del RFC, persona moral
    _rfc_pattern_pm = "^(([A-ZÑ&]{3})([0-9]{2})([0][13578]|[1][02])(([0][1-9]|[12][\\d])|[3][01])([A-Z0-9]{3}))|" +
        "(([A-ZÑ&]{3})([0-9]{2})([0][13456789]|[1][012])(([0][1-9]|[12][\\d])|[3][0])([A-Z0-9]{3}))|" +
        "(([A-ZÑ&]{3})([02468][048]|[13579][26])[0][2]([0][1-9]|[12][\\d])([A-Z0-9]{3}))|" +
        "(([A-ZÑ&]{3})([0-9]{2})[0][2]([0][1-9]|[1][0-9]|[2][0-8])([A-Z0-9]{3}))$";
    // patron del RFC, persona fisica
    _rfc_pattern_pf = "^(([A-ZÑ&]{4})([0-9]{2})([0][13578]|[1][02])(([0][1-9]|[12][\\d])|[3][01])([A-Z0-9]{3}))|" +
        "(([A-ZÑ&]{4})([0-9]{2})([0][13456789]|[1][012])(([0][1-9]|[12][\\d])|[3][0])([A-Z0-9]{3}))|" +
        "(([A-ZÑ&]{4})([02468][048]|[13579][26])[0][2]([0][1-9]|[12][\\d])([A-Z0-9]{3}))|" +
        "(([A-ZÑ&]{4})([0-9]{2})[0][2]([0][1-9]|[1][0-9]|[2][0-8])([A-Z0-9]{3}))$";
    //
    var codpost = document.getElementById('inCodigo_postal');
    var city = document.getElementById('inCiudad_empresa');
    var colony = document.getElementById('inColonia_empresa');
    var municipio = document.getElementById("inMunicipio_empresa");
    var states = document.getElementById("inEstado_empresa");
    var btnvalidacpstate = document.getElementById("btnValidaCpEstado");
    $(document).ready(function () {
        btnvalidacpstate.disabled = true;
        city.disabled = true;
        municipio.disabled = true;
        states.disabled = true;
        colony.disabled = true;
        //$.ajax({
        //    url: "../Empleados/LoadStates",
        //    type: "POST",
        //    data: {},
        //    contentType: "application/json; charset=utf-8",
        //    success: (data) => {
        //        for (i = 0; i < data.length; i++) {
        //            //states.innerHTML += `<option value="${data[i].iId}">${data[i].sValor}</option>`;
        //            modalStates.innerHTML += `<option value="${data[i].iId}">${data[i].sValor}</option>`;
        //        }
        //    }
        //});//Carga estados
        //$.ajax({
        //    url: "../Empresas/New_ClaveEmpresa",
        //    type: "POST",
        //    data: {},
        //    contentType: "application/json; charset=utf-8",
        //    success: (data) => {
        //        //console.log(data);
        //        document.getElementById("inId_empresa").disabled = false;
        //        document.getElementById("inId_empresa").value = data;
        //        document.getElementById("inId_empresa").disabled = true;
        //    }
        //});//Carga nuevos
        $("#btnValidaCpEstado").on("click", function () {
            fvalidatestatecodpost();
        });
        fvalidatestatecodpost = () => {
            if (codpost.value.length === 5) {
                setTimeout(() => {
                    $.ajax({
                        url: "../Empleados/LoadInformationHome2",
                        type: "POST",
                        data: { codepost: codpost.value },

                        success: (data) => {
                            console.log(data);
                            if (data.length > 0) {
                                city.disabled = false;
                                municipio.disabled = false;
                                colony.disabled = false;
                                states.disabled = false;
                                $("#inColonia_empresa").empty();
                                for (i = 0; i < data.length; i++) {
                                    if (data[i].sColonia != "") {
                                        colony.innerHTML += `<option value='${data[i].iIdColonia}'>${data[i].sColonia}</option>`;
                                        municipio.innerHTML = `<option value='${data[i].iIdMunicipio}' >${data[i].sMunicipio}</option>`;
                                        states.innerHTML = `<option value='${data[i].iIdEstado}' >${data[i].sEstado}</option>`;
                                        city.innerHTML = `<option value='${data[i].sCiudad}'>${data[i].sCiudad}</option>`;

                                    }
                                }
                                setTimeout(() => {
                                    colony.focus();
                                }, 500);
                            } else {
                                Swal.fire({
                                    title: "Atención",
                                    text: "El código postal ingresado es incorrecto",
                                    icon: "warning",
                                    showClass: { popup: 'animated fadeInDown faster' },
                                    hideClass: { popup: 'animated fadeOutUp faster' },
                                    confirmButtonText: "Aceptar", allowOutsideClick: false, allowEscapeKey: false, allowEnterKey: false,
                                }).then((acepta) => {
                                    setTimeout(() => { codpost.focus(); }, 800)
                                });
                            }
                        }, error: (jqXHR, exception) => {
                            fcaptureaerrorsajax(jqXHR, exception);
                        }
                    });
                }, 1500);
            } else {
                Swal.fire({
                    title: "Atención", text: "El código postal debe de contener 5 caracteres", icon: "warning",
                    showClass: { popup: 'animated fadeInDown faster' },
                    hideClass: { popup: 'animated fadeOutUp faster' },
                    confirmButtonText: "Aceptar", allowOutsideClick: false, allowEscapeKey: false, allowEnterKey: false,
                }).then((acepta) => {

                    setTimeout(() => { codpost.focus(); }, 800);
                });
            }
        }
    });
    $("#inCodigo_postal").on("keyup", function (evt) {
        var i = $(this).val();
        //alert(i.length);
        if (i.length == 5) {
            btnvalidacpstate.disabled = false;
            $("#btnValidaCpEstado").removeClass("btn-secondary");
            $("#btnValidaCpEstado").addClass("btn-info");
        } else {
            btnvalidacpstate.disabled = true;
            $("#btnValidaCpEstado").removeClass("btn-info");
            $("#btnValidaCpEstado").addClass("btn-secondary");
        }
    });
    $("#inRfc_empresa").on("keyup", function (evt) {
        var rfc = $("#inRfc_empresa").val();
        if (rfc.length === 12) {
            ValidaRFC();
        } else {
            if ($("#inRfc_empresa").hasClass("is-invalid")) { }
            else { $("#inRfc_empresa").addClass("is-invalid"); }
        }
        function ValidaRFC() {
            if (rfc.match(_rfc_pattern_pm)) {
                $("#inRfc_empresa").removeClass("is-invalid");
                $("#inRfc_empresa").addClass("is-valid");
                return true;
            } else {
                $("#inRfc_empresa").removeClass("is-valid");
                $("#inRfc_empresa").addClass("is-invalid");
                return false;
            }
        }
    });
    $('.input-number').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });

    $.ajax({
        url: "../Empresas/LoadClasesRP",
        type: "POST",
        data: JSON.stringify(),
        contentType: "application/json; charset=utf-8",
        success: (data) => {
            console.log(data);
            for (i = 0; i < data.length; i++) {
                document.getElementById("inClase").innerHTML += `<option value='${data[i].IdClase}'>${data[i].Nombre_Clase}</option>`;
            }
        }
    });
    $.ajax({
        url: "../Empresas/LoadRegimenesFiscales",
        type: "POST",
        data: JSON.stringify(),
        contentType: "application/json; charset=utf-8",
        success: (data) => {
            console.log(data);
            for (i = 0; i < data.length; i++) {
                document.getElementById("inRFiscal_empresa").innerHTML += `<option value='${data[i].IdRegimenFiscal}'>${data[i].Descripcion}</option>`;
            }
        }
    });

    $("#form_inEmpresa").submit(function (evt) {

        var emp = document.getElementById("form_inEmpresa");
        if (emp.checkValidity() === false) {
            evt.preventDefault();
            evt.stopPropagation();
            emp.classList.add("was-validated");
            setTimeout(function () {
                $("#form_inEmpresa").removeClass("was-validated");
            }, 5000);
        } else {
            evt.preventDefault();
            evt.stopPropagation();

            var nomEmp = document.getElementById("inNombre_empresa");
            var nomEmpc = document.getElementById("inNomCorto_empresa");
            var rfcemp = document.getElementById("inRfc_empresa");
            var giroEmp = document.getElementById("inGiro_empresa");
            var cpEmp = document.getElementById("inCodigo_postal");
            var estEmp = document.getElementById("inEstado_empresa");
            var munEmp = document.getElementById("inMunicipio_empresa");
            var ciuEmp = document.getElementById("inCiudad_empresa");
            var colEmp = document.getElementById("inColonia_empresa");
            var delEmp = document.getElementById("inDelegacion_Empresa");
            var callEmp = document.getElementById("inCalle_Empresa");
            var rfEmp = document.getElementById("inRFiscal_empresa");
            var noafiEmp = document.getElementById("inNombreAfiliacionIMSS");
            //var finnom = document.getElementById("inFinal_nomina");
            //var ppgEmp = document.getElementById("inPeriodo_pago");
            //var pagoEmp = document.getElementById("inPago");
            var afImss = document.getElementById("inAfiliacionIMSS");
            var riesgot = document.getElementById("inRiesgoTrabajo");
            var claserp = document.getElementById("inClase");
            var datos = {
                inNombre_empresa: nomEmp.value
                , inNomCorto_empresa: nomEmpc.value
                , inRfc_empresa: rfcemp.value
                , inGiro_empresa: giroEmp.value
                , inRegimenFiscal_Empresa: rfEmp.value
                , inCodigo_postal: cpEmp.value
                , inEstado_empresa: estEmp.value
                , inMunicipio_empresa: munEmp.value
                , inCiudad_empresa: ciuEmp.value
                , inColonia_empresa: colEmp.value
                , inDelegacion_Empresa: delEmp.value
                , inCalle_Empresa: callEmp.value
                //, inUltimo_nomina: ultnom.value
                //, inInicio_nomina: inicom.value
                //, inFinal_nomina: finnom.value
                //, inPeriodo_pago: ppgEmp.value
                //, inPago: pagoEmp.value
                , inAfiliacionIMSS: afImss.value
                , inNombre_Afiliacion: noafiEmp.value
                , inRiesgoTrabajo: riesgot.value
                , inClase: claserp.value
            };
            console.log(datos);
            $.ajax({
                url: "../Empresas/Insert_Empresa_FirstStep",
                type: "POST",
                data: JSON.stringify(datos),
                contentType: "application/json; charset=utf-8",
                success: (data) => {
                    //alert("si pasa");
                    console.log(data);
                    if (data[0] == "True") {
                        Swal.fire({
                            icon: 'success',
                            title: 'Correcto!',
                            text: 'Empresa agregada con exito!'
                        }, false).then(() => {

                            setTimeout(function () {
                                emp.reset();
                                
                                $("#bodySubmenus").load("/Empresas/Registros_Patronales");
                            }, 1500);
                        });
                    } else if (data[0] == "False") {
                        Swal.fire({
                            icon: 'error',
                            title: '',
                            text: '' + data[1]
                        }, false).then(() => {
                            nom.focus();
                            nom.classList.add("is-invalid");
                            rfc.classList.add("is-invalid");
                            setTimeout(function () {
                                nom.classList.remove("is-invalid");
                                rfc.classList.remove("is-invalid");
                            }, 5500);
                        });
                    }

                }
            });
        }

    });


</script>


