<div class="font-labels container rounded bg-white col-md-10">
    <div class="">Bajas Empleados</div>
    <div class="dropdown-divider"></div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active font-navs" id="nav-datagen-tab" data-toggle="tab" href="#nav-bajas" role="tab" aria-controls="nav-datagen" aria-selected="true">
                <i class="fas fa-user-times col-ico mr-ico-05"></i> Bajas
            </a>
            <a class="nav-item nav-link font-navs" id="nav-imss-tab" data-toggle="tab" href="#nav-redoc" role="tab" aria-controls="nav-imss" aria-selected="false">
                <i class="fas fa-notes-medical col-ico mr-ico-05"></i> Redocumentar Prestamos y/o Seguros
            </a>
            <a class="nav-item nav-link font-navs" id="nav-datanom-tab" data-toggle="tab" href="#nav-inciden" role="tab" aria-controls="nav-datanom" aria-selected="false">
                <i class="fas fa-dollar-sign col-ico mr-ico-05"></i> Incidencias en el periodo
            </a>
            <a class="nav-item nav-link font-navs" id="nav-estructure-tab" data-toggle="tab" href="#nav-bmasivas" role="tab" aria-controls="nav-estructure" aria-selected="false">
                <i class="fas fa-project-diagram col-ico mr-ico-05"></i> Bajas Masivas
            </a>
            <a class="nav-item nav-link " id="nav-estructure-tab" data-toggle="tab" href="#nav-estructure" role="tab" aria-controls="nav-estructure" aria-selected="false">
                <div class="text-right">
                    <i class="fas fa-user-edit text-danger mr-ico-05" id="icouser"></i>
                    <span id="nameuser" class="text-capitalize text-dark"> </span>
                </div>
            </a>
        </div>
    </nav>
    <div class="tab-content">
        <div class="tab-pane active" id="nav-bajas" role="tabpanel" aria-labelledby="home-tab">
            <div class="mr-0 col-md-12 text-center bg-light mb-3">Registrar Bajas de Empleados a la Nómina</div>
            <div class="dropdown-divider"></div>
            <div class="form-group row col-md-12">
                
                    <div class="form-group row col-md-4 m-0">
                        <div class="font-weight-bold">No. Nomina : </div>
                        <div class="pl-3" id="id_emp">4545</div>
                    </div>
                    <div class="form-group row m-0 col-md-4">
                        <div class="font-weight-bold">Sueldo Mensual : </div>
                        <div class="pl-3" id="sueldo_emp">Oscar mejia doroteo oscar mejia </div>
                    </div>
                    <div class="form-group row m-0 col-md-4">
                        <div class="font-weight-bold">Ultimo aumento : </div>
                        <div class="pl-3" id="aumento_emp">Oscar mejia doroteo oscar mejia </div>
                    </div>
                    <div class="form-group row m-0 col-md-4">
                        <div class="font-weight-bold">Antigüedad : </div>
                        <div class="pl-3" id="antiguedad_emp">Oscar mejia doroteo oscar mejia </div>
                    </div>
                    <div class="form-group row m-0 col-md-4">
                        <div class="font-weight-bold">Nivel : </div>
                        <div class="pl-3" id="nivel_emp">Oscar mejia doroteo oscar mejia </div>
                    </div>
                    <div class="form-group row m-0 col-md-4">
                        <div class="font-weight-bold">Plaza & nb : </div>
                        <div class="pl-3" id="posicion_emp">Oscar mejia doroteo oscar mejia </div>
                    </div>
            </div>
            <div class="dropdown-divider"></div>
            <form action="" id="frmbajas">
                <div class="form-group row col-md-12 m-0">
                        <div class="form-group col-md-4">
                            <label class="">Tipo de Baja</label>
                            <select id="inTiposBaja" class=" custom-select font-labels">
                                <option value="">Selecciona</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="">Motivos de Baja</label>
                            <select id="inMotivosBaja" class="custom-select font-labels">
                                <option value="">Seclecciona</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="">Nota de Baja</label>
                            <input type="text" class="form-control font-labels" placeholder="Escriba un comentario acerca de la baja" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Fecha Baja</label>
                            <input type="date" class="form-control" id="" />
                        </div>

                        <div class="form-group col-md-4">
                            <label>Vacaciones Tomadas</label>
                            <input type="text" class="form-control" id="" placeholder="#" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Año actual</label>
                            <input type="text" class="form-control" id="" placeholder="#" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Vacaciones Pendientes</label>
                            <input type="text" class="form-control" id="" placeholder="#" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Años anteriores</label>
                            <input type="text" class="form-control" id="" placeholder="#" />
                        </div>
                        <div class="col-md-12">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">Salario Diario en Indemnizaciones</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                <label class="custom-control-label" for="customSwitch2">No volver a contratar</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                <label class="custom-control-label" for="customSwitch3">No entregar vales de despensa </label>
                            </div>
                        </div>
                        
                    </div>
                
                
            </form>
            
        </div>
        <div class="tab-pane" id="nav-redoc" role="tabpanel" aria-labelledby="profile-tab">
            r
        </div>
        <div class="tab-pane" id="nav-inciden" role="tabpanel" aria-labelledby="messages-tab">
            i
        </div>
        <div class="tab-pane" id="nav-bmasivas" role="tabpanel" aria-labelledby="settings-tab">
            m
        </div>
    </div>
</div>
@* MODAL DE LIVE SEARCH EMPLEADO *@
<!-- Modal -->
<div class="modal fade" id="modalLiveSearchEmpleado" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-labels" id="staticBackdropLabel">Busca el empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="search-box col-md-12">

                        <label for="inputSearchEmpleados" class="font-labels">Escribe el nombre del empleado que buscas</label>
                        <input type="text" name="inputSearchEmpleados" id="inputSearchEmpleados" placeholder="Escriba el nombre del empleado" class=" form-control" autocomplete="off" />
                        <div id="resultSearchEmpleados" name="resultSearchEmpleados" class="list-group"></div>

                    </div>
                    <div class="col-lg-3 col-md-3 col-3 pb-3">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/main/BajasEmpleados.js"></script>