
<link rel="stylesheet" href="~/Scripts/jqxGrid/jqwidgets/styles/jqx.base.css" type="text/css" />

<div class="container bg-white">

    @*Botones de flotantes*@
    <div>
        <button class="flotante rounded btn btn-outline-success" title="Guardar" id="btnFloGuardar" type="button" value="1" style="visibility:visible">
            <i class="fa fa-floppy-o"></i>
        </button>
        <button class="flotante2 rounded btn btn-outline-danger" title="Limpiar todos los campos" id="btnlimpDat" type="button" btvisible="true" value="1" style="visibility:visible">
            <i class="fas fa-eraser"></i>
        </button>
        <button class="flotante3 rounded btn btn-outline-danger" title="Ejecutar" id="btnFloEjecutar" type="button" btvisible="true" value="1" style="visibility:visible">
            <i class="far fa-caret-square-right"></i>
        </button>
        <button class="flotante4 rounded btn btn-outline-danger" title="Cerrar Nomina" id="btnFloCerrarNom" type="button" btvisible="true" value="1" style="visibility:visible">
            <i class="far fa-file-archive"></i>
        </button>

        

    </div>

    <div class="tab-pane fade show active p-3 row table-responsive" id="navEjecucion" role="tabpanel" aria-labelledby="nav-Ejeciciones-tab">
        <nav>
            <div class="nav nav-tabs " id="nav-tab" role="tablist">
                <a class="nav-item nav-link  font-navs active " id="nav-Ejecucion-tab" data-toggle="tab" href="#nav-Ejecucion" role="tab" aria-controls="nav-Ejecucion">
                    <i class="fas fa-bolt col-ico mr-ico-05"></i> Ejecución
                </a>
                <a class="nav-item nav-link font-navs active " id="nav-VisCalculo-tab" data-toggle="tab" href="#nav-VistaCalculo" role="tab" aria-controls="nav-VisCalculo" pagPre="false">
                    <i class="fas fa-calculator col-ico mr-ico-05 disabled"></i> Vista de calculos
                </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

            <!-- pantalla de Ejecucion tab-->

            <div class="tab-pane fade show active p-3" id="nav-Ejecucion" role="tabpanel" aria-labelledby="nav-Ejecucion-tab">
                <div class="row mt-4">
                    <div id="div-most-alert-data-gen" class="col-md-6 offset-3"></div>
                    <div class="col-md-12 mb-4">
                        <div class="text-left">
                            <h6 class="col-ico font-nav-child">
                                <b>
                                    <i class="fas fa-circle fa-sm mr-ico-05"></i>
                                    Ejecución
                                </b>
                            </h6>
                            <hr />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <input type="hidden" value="0" readonly class="form-control form-control-sm" id="clvemp" />
                            <label for="NombreDe" class="col-sm-4 col-form-label font-labels">
                                Nombre de Definicion:
                            </label>
                            <div class="col-sm-8">
                                <div id='jqxWidget'>
                                    <div id="jqxdropdownbutton" class="col-sm-11">
                                        <div style="border-color: transparent;" id="TpDefinicion">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">

                            <label class="col-sm-4 col-form-label font-labels"><input type="checkbox" id="ChNCerrada">  Nomina cerrda</label>
                            @*<div class="col-sm-8">
                                <select placeholder="Ejecucion" tp-select="NomCerreada" class="form-control form-control-sm" id="EjeCerrada">
                                    <option value="0">Falso</option>
                                    <option value="1">Firme</option>
                                </select>
                            </div>*@
                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="form-group row">
                            <label for="ano" class="col-sm-4 col-form-label font-labels">
                                Inicio de calculo:
                            </label>
                            <div class="col-sm-8">
                                <input placeholder="Inicion de calculo" type="text" id="TxtBInicioClculo" class="form-control form-control-sm text-capitalize" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="DCancelado" class="col-sm-4 col-form-label font-labels">
                                Fin de calculo
                            </label>
                            <div class="col-sm-8">
                                <input placeholder="Fin de calculo" type="text" id="TxtBFinClculo" class="form-control form-control-sm text-capitalize" readonly />
                            </div>
                        </div>

                    </div>

                </div>
                <!--Boton de registro -->
                @*<div class="form-group row">
                        <div class="col text-right">
                            <br />
                            <button type="submit" class="btn btn-primary mb-2 " id="btnGuardarEjecucion" value="1"><span class="fa fa-floppy-o"></span> Guardar </button>

                        </div>
                    </div>*@


                <!--Grid Definicion-->
                @*<div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive" style="text-align:center">
                                        <div id="TpDefinicion" class="table-responsive"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@



            </div>

            <!-- pantalla de vista calculo tab-->

            <div class="tab-pane fade p-3" id="nav-VistaCalculo" role="tabpanel" aria-labelledby="nav-VisCalculo-tab">
                <div class="row mt-4">
                    <div id="div-most-alert-data-gen" class="col-md-6 offset-3"></div>
                    <div class="col-md-12 mb-4">
                        <div class="text-left">
                            <h6 class="col-ico">
                                <i class="fas fa-circle fa-sm mr-ico-05"></i>
                                Calculo
                            </h6>
                            <hr />
                        </div>
                    </div>

                    <div class="modal-body col-12">
                        <div class="">
                            <div class="row">
                                <div class="col-12">
                                    <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">
                                        <div id="TbCalculos">
                                        </div>
                                        <div id="eventslog" style="margin-top: 30px;">
                                        </div>
                                    </div>
                                </div>
                                @*<div class="table-responsive" style="text-align:center">
                                        <div id="TbCalculos" class="table-responsive"></div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Nomoper/OperNomEjecucion.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqx-all.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxcore.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxdata.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxbuttons.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxscrollbar.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxmenu.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxgrid.selection.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxgrid.filter.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxlistbox.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxdropdownlist.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxcheckbox.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxwindow.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxtabs.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxinput.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxgrid.sort.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxpanel.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/globalization/globalize.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxcalendar.js"></script>
<script src="~/Scripts/jqxGrid/jqwidgets/jqxdatetimeinput.js"></script>
@*<script src="~/Scripts/jqxGrid/jqwidgets/jqxgrid.js"></script>*@

