<div class="container bg-white pb-3 rounded">
    <h4 class="border-bottom border-secondary pt-4 pb-2">Registrar ausentismo a empleado</h4>
    <div class="row">
        <div class="col-md-6  rounded">
            <form action="#" method="post" class="bg-light px-3 py-3 rounded" id="frmAusentismos">
                <div class="form-group">
                    <label for="">Motivo del ausentismo</label>
                    <select class="form-control" id="inMotivoAusentismo" name="inMotivoAusentismo" required>
                        <option>selecciona</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inRecuperacionAusentismo">Recupera ausentismo</label>
                    <select class="form-control" id="inRecuperacionAusentismo" required>
                        <option>Sexto y septimo día</option>
                        <option>Septimo día</option>
                        <option>No aplicar</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inFechaAusentismo">Fecha</label>
                    <div class="input-group">
                        <input type="text" name="inFechaAusentismo" id="inFechaAusentismo" value="" class="form-control" required />
                        <div class="input-group-prepend">
                            <div class="input-group-text " id=""><span class="far fa-calendar-alt"></span></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inDiasAusentismo">Dias</label>
                    <input type="number" name="inDiasAusentismo" id="inDiasAusentismo" value="" class="form-control" placeholder="Escriba los dias de Ausentismo" required />
                </div>
                <div class="form-group">
                    <label for="inCausaAusentismo">Causa</label>
                    <input type="text" name="inCausaAusentismo" id="inCausaAusentismo" value="" class="form-control" pattern="^[A-Za-z]+$" placeholder="Escriba la causa del Ausentismo" required />
                </div>
                <div class="d-flex form-group justify-content-end">
                    <button type="submit" class="btn btn-primary mb-2" id="btnRegistroAusentismo"><span class="far fa-edit"></span> Registrar Ausentismo</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table" id="tabAusentismos">
                <thead>
                    <tr>
                        <th scope="col">Motivo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Dias</th>
                        <th scope="col">Causa</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    
    
    
    
</div>
<script>
    $(document).ready(function () {
        var tabAusentismo = $("#tabAusentismos").DataTable();
        $("#inFechaAusentismo").datepicker();

        $("#btnRegistroAusentismo").on("click", function (evt) {
            var data = $("#frmAusentismos").serialize();
            var form = document.getElementById("frmAusentismos");
            if (form.checkValidity()) {
                evt.preventDefault();
                console.log(data);
            } else {
                evt.preventDefault();
                console.log(data);
            }
            
        });
    });
    
</script>   