<div class="container bg-white py-4 px-0 rounded-top">
    
</div>
<div class="container collapse pt-3 bg-white font-labels" id="vacacionesCollapse">
    <div class="media row border-bottom pb-3 border-primary">
        <div class="media-body col-md-12 ">
            <div class="row">
                <div class="col-md-3">
                    <label for="" class="font-italic">Nombre </label><br>
                    <div id="nomEmp" class="font-weight-bold"></div>
                </div>
                <div class="col-md-3">
                    <label for="" class=" font-italic">Puesto </label><br>
                    <div id="puesto_emp" class=" font-weight-bold"></div>
                </div>
                <div class="col-md-3">
                    <label for="" class=" font-italic">Departamento</label><br>
                    <div id="area_emp" class=" font-weight-bold"></div>
                </div>
                <div class="col-md-3 ">
                    <label for="" class=" font-italic">Antigüedad </label><br>
                    <div id="antig_emp" class=" font-weight-bold"></div>
                </div>
            </div>
        </div>
        @*<div class="col-md-3 col-xs-3 col-lg-3 col-3 ml-3 img-fluid">
                <img src="~/Content/img/icon-user.png" class="text-center" alt="..." >
            </div>*@
    </div>
    @*<div class="row pt-2 border-bottom pb-3 border-primary">
            <div class="col-3 "></div>
            <div class=" col-3 mx-1 btn btn-success">
                <span class="">9</span><br>
                Dias disponibles
            </div>
            <div class=" col-3 mx-1 btn btn-danger">
                <span class="">4</span><br>
                Días usados en el año
            </div>
            <div class="col-3"></div>
        </div>*@
    <div class="row pt-2 border-bottom pb-3 border-primary">
        <div class="container col-12 col-md-12 col-lg-6">
            <div class="text-center font-weight-bold font-labels">Resumen de Vacaciones</div>
            <table id="example1" class="table table-sm table-striped text-center table-bordered table-hover font-labels">
                <thead class="thead-dark">
                    <tr>
                        <th>Años</th>
                        <th>Días Prima</th>
                        <th>Dias Disfrutados</th>
                        <th>Dias Restantes</th>
                    </tr>
                </thead>
                <tbody id="tab1">
                </tbody>

            </table>
        </div>

        <div class="container col-12 col-md-12 col-lg-6">
            <div class="text-center font-weight-bold font-labels">Periodos</div>
            <table id="example2" class="table table-sm table-striped text-center table-bordered table-hover font-labels">
                <thead class="thead-dark">
                    <tr class="">
                        <th>Año</th>
                        <th>Días</th>
                        <th>Agendadas</th>
                        <th>Disfrutadas</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Termino</th>
                    </tr>
                </thead>
                <tbody id="tabBody">
                </tbody>
            </table>
        </div>
    </div>
    <div class="container col-12 align-content-center">
        <div class="row">
            <div class="col-12">
                <div class="col-12 text-center font-button">Agregar nuevo periodo de vacaciones</div>
                <form action="#" class="needs-validation bg-secondary text-white rounded px-4 py-3 mb-4" id="frmAddPeriodo" novalidate>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="from">Fecha Inicio</label>
                            <input type="text" class="form-control" id="from" name="from" required placeholder="mm / dd / aaaa">

                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="to">Fecha Termino</label>
                            <input type="text" class="form-control datepiker" id="to" name="to" required placeholder="mm / dd / aaaa" disabled>

                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="datepicker">Días</label>
                            <input type="text" class="form-control" disabled id="diasV" name="diasV" >
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary font-weight-bold w-100 h-100" disabled id="btnCalcVacaciones" type="button">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@* MODAL DE LIVE SEARCH EMPLEADO *@
<!-- Modal -->
<div class="modal fade" id="modalLiveSearchEmpleado" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-labels" id="staticBackdropLabel">Busca el empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="search-box col-md-12">
                        
                            <label for="inputSearchEmpleados" class="font-labels">Escribe el nombre del empleado que buscas</label>
                            <input type="text" name="inputSearchEmpleados" id="inputSearchEmpleados" placeholder="Escriba el nombre del empleado" class=" form-control" autocomplete="off"/>
                            <div id="resultSearchEmpleados" name="resultSearchEmpleados" class="list-group"></div>
                        
                    </div>
                    <div class="col-lg-3 col-md-3 col-3 pb-3">

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#modalLiveSearchEmpleado").modal("show");
        var dateFormat = "mm/dd/yy",
            from = $("#from")
                .datepicker({
                    defaultDate: "+1w",
                    minDate: -30,
                    changeMonth: true,
                    numberOfMonths: 1,
                    beforeShowDay: $.datepicker.noWeekends,

                    changeYear: true
                })
                .on("change", function () {
                    $("#to").removeAttr("disabled");
                    if (!$("#to").val() == "") {
                        calcularDias()
                    }
                    to.datepicker("option", "minDate", getDate(this));
                }),
            to = $("#to").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                beforeShowDay: $.datepicker.noWeekends,

                changeYear: true

            })
                .on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                    $("#btnCalcVacaciones").removeAttr("disabled");
                    calcularDias();
                });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    });
</script>
<script>
    $(document).ready(function () {
        //
        //
        $("#vacacionesCollapse").collapse("show");
        //
        //
        $("#inputSearchEmpleados").on("keyup", function () {
            $("#inputSearchEmpleados").empty();
            var txt = $("#inputSearchEmpleados").val();
            if ($("#inputSearchEmpleados").val() != "") {
                var txtSearch = { "txtSearch": txt };
                $.ajax({
                    url: "../Empleados/SearchEmpleados",
                    type: "POST",
                    cache: false,
                    data: JSON.stringify(txtSearch),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: (data) => {
                        console.log(data[0]["iFlag"]);
                        $("#resultSearchEmpleados").empty();
                        if (data[0]["iFlag"] == 0) {
                            for (var i = 0; i < data.length; i++) {
                                $("#resultSearchEmpleados").append("<div class='list-group-item list-group-item-action btnListEmpleados font-labels  font-weight-bold' onclick='MostrarDatosEmpleado(" + data[i]["IdEmpleado"] + ")' > <i class='far fa-user-circle text-primary'></i> " + data[i]["Nombre_Empleado"] + " " + data[i]["Apellido_Paterno_Empleado"] + ' ' + data[i]["Apellido_Materno_Empleado"] + "   -   <small class='text-muted'><i class='fas fa-briefcase text-warning'></i> " + data[i]["DescripcionDepartamento"] + "</small> - <small class='text-muted'>" + data[i]["DescripcionPuesto"] + "</small></div>");
                            }
                        }
                        else {
                            $("#resultSearchEmpleados").append("<button type='button' class='list-group-item list-group-item-action btnListEmpleados font-labels'  >" + data[0]["Nombre_Empleado"] + "<br><small class='text-muted'>" + data[0]["DescripcionPuesto"] + "</small> </button>");
                        }

                    }
                });
            } else {
                $("#resultSearchEmpleados").empty();
            }
        });
        //$("#datepicker").datepicker();
        $('#example1 tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });
        $('#example2 tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });
        //$('#example1').DataTable();
        //$('#example2').DataTable();
        $("#btnCalcVacaciones").on("click", function (evt) {
            evt.preventDefault();
            $("#diasV").removeAttr("disabled");
            var Periodo = $("#frmAddPeriodo").serialize();
            $("#diasV").disabled = true;
            console.log(Periodo);
            $.ajax({
                url: "",
                data: JSON.stringify(),
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function() {

                }
            });
        });



    });
</script>
<script>
    var tab2,tab1;
    function MostrarDatosEmpleado(idE) {
        //tab2.destroy();
        //tab1.destroy();
        var txtIdEmpleado = { "IdEmpleado": idE };
        $.ajax({
            url: "../Empleados/SearchEmpleado",
            type: "POST",
            data: JSON.stringify(txtIdEmpleado),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: (data) => {
                console.log(data);
                
                $("#resultSearchEmpleados").empty();
                for (var i = 0; i < data.length; i++) {
                    $("#nomEmp").empty(); $("#nomEmp").append(data[i]["Nombre_Empleado"] + " " + data[i]["Apellido_Paterno_Empleado"] + " " + data[i]["Apellido_Materno_Empleado"]);
                    $("#puesto_emp").empty(); $("#puesto_emp").append(data[i]["DescripcionPuesto"]);
                    $("#area_emp").empty(); $("#area_emp").append(data[i]["DescripcionDepartamento"])
                    $("#antig_emp").empty(); $("#antig_emp").append(data[i]["FechaIngreso"].substring(0,10));
                    $("#vacacionesCollapse").collapse("show");

                }
                console.log(data[0]["IdEmpleado"]);
                //CargarTabPeriodos(data[0]["Anio"],data[0]["DiasPrima"],data[0][""],data[0][""],data[0][""],data[0][""]);
                $("#tab1").empty();
                var line = CargarTabResumen(data[0]["Anio"], data[0]["DiasPrima"], data[0]["DiasDisfrutados"], data[0]["DiasRestantes"]);
                $("#tab1").append(line);
                tab2 = $("#example1").DataTable({
                    paging: false,
                    scrollX: false,
                    scrollY: false,
                    searching: false,
                    scrollCollapse: true,
                    language: { url: "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json" }
                });
                CargarTabPeriodos(idE);
                document.getElementById("inputSearchEmpleados").value = '';
                ftoggle();
            }
        });
        
    }
    function ftoggle() {
        $("#modalLiveSearchEmpleado").modal("toggle")
    }
    
    function CargarTabResumen( anio, diasP, diasD, diasR ) {
        var fila = `<tr>
                        <td>${anio}</td>
                        <td>${diasP}</td>
                        <td>${diasD}</td>
                        <td>${diasR}</td>
                    </tr>`;
        return fila;
    }
    function CargarTabPeriodos( IdEmpleado ) {
        $.ajax({
            url: "../Incidencias/LoadPeiodosVac",
            type: "POST",
            data: JSON.stringify({ IdEmpleado: IdEmpleado }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: (data) => {
                console.log(data);
                
                
                
            

            }
        });
    }


    function calcularDias() {
        var fechaInicial = document.getElementById("from").value;
        var fechaFinal = document.getElementById("to").value;
        inicial = fechaInicial.split("/");
        final = fechaFinal.split("/");
        console.log(inicial[1] + '/' + (inicial[0] - 1) + '/' + inicial[2] + " fecha inicial variable ");
        // obtenemos las fechas en milisegundos
        var inicio = new Date(inicial[2], (inicial[0] - 1), inicial[1]);
        var fin = new Date(final[2], (final[0] - 1), final[1]);
        //alert(inicial[2] + '-' + inicial[0] + '-' + inicial[1] + ' - a - ' + final[2] + '-' + final[0] + '-' + final[1]);
        var timeDiff = Math.abs(fin.getTime() - inicio.getTime());
        var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); //Días entre las dos fechas
        var cuentaFinde = 0; //Número de Sábados y Domingos
        var array = new Array(diffDays);
        for (var i = 0; i < diffDays + 1; i++) {
            console.log(inicio);
            //0 => Domingo - 6 => Sábado
            if (inicio.getDay() == 0 || inicio.getDay() == 6) {
                cuentaFinde++;
            }
            inicio.setDate(inicio.getDate() + 1);
        }
        var txtdias = document.getElementById("diasV");
        txtdias.value = (diffDays + 1) - cuentaFinde;
    }
</script>
